@model Website_QLCC_RauSach.Models.NhanVienNcc

@{
    ViewData["Title"] = "Chi tiết nhân viên nhà cung cấp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Danh mục</span>
                    </div>
                    <ul>
                        <li><a href="#">Nhóm Rau lá</a></li>
                        <li><a href="#">Nhóm Củ</a></li>
                        <li><a href="#">Nhóm Trái cây</a></li>
                        <li><a href="#">Nhóm Mầm</a></li>
                        <li><a href="#">Nhóm Hoa</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="Search">
                            <div class="hero__search__categories">
                                Tất cả
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="Bạn muốn tìm kiếm gì?">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>0987654321</h5>
                            <span>Hỗ trợ 24/7</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Thông tin nhân viên</h2>
                </div>
            </div>
        </div>
        <div>
            <div class="col-lg-12">
                <dl class="row">
                    <dt class="col-sm-4">
                        Mã nhân viên
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.MaNv)
                    </dd>
                    <dt class="col-sm-4">
                        Họ và tên
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.TenNv)
                    </dd>
                    <dt class="col-sm-4">
                        Chức vụ
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.ChucVu)
                    </dd>
                    <dt class="col-sm-4">
                        Số điện thoại
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.MaTkNavigation.Sdt)
                    </dd>
                    <dt class="col-sm-4">
                        Email
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.MaTkNavigation.Email)
                    </dd>
                    <dt class="col-sm-4">
                        Tình trạng
                    </dt>
                    <dd class="col-sm-8">
                        @if (Model.MaTkNavigation.IsActive == 1)
                        {
                            <span>Đang làm việc</span>
                        }
                        else
                        {
                            <span>Đã nghỉ việc</span>
                        }
                    </dd>
                </dl>
                <a asp-action="Index" class="btn btn-primary btn-sm">Về trang quản lý</a>
            </div>
        </div>
    </div>
</section>

