@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model IEnumerable<Website_QLCC_RauSach.Models.GioHang>?

@{
    ViewBag.Title = "Thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .nice-select {
        width: 100%;
        font-size: 16px;
    }
</style>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="../assets/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Checkout</h2>
                    <div class="breadcrumb__option">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                        <span>Checkout</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <h4>Thông tin thanh toán</h4>
            <form asp-controller="Checkout" asp-action="Payment" method="post" asp-route-manvst="@Model?.FirstOrDefault()?.MaNvst">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="checkout__input">
                            <p>Họ và tên<span>*</span></p>
                            <input type="text" value="@ViewBag.NhanVienDatHang.TenNv">
                        </div>
                        <div class="checkout__input">
                            <p>Số điện thoại<span>*</span></p>
                            <input type="text" value="@ViewBag.NhanVienDatHang.MaTkNavigation.Sdt">
                        </div>
                        <div class="checkout__input">
                            <p>Email<span>*</span></p>
                            <input type="text" value="@ViewBag.NhanVienDatHang.MaTkNavigation.Email">
                        </div>
                        <div class="checkout__input">
                            <p>Địa chỉ siêu thị<span>*</span></p>
                            <input type="text" 
                                readonly="readonly"
                                name="DiaChi"
                                value="@ViewBag.NhanVienDatHang.MaStNavigation.DiaChiSts[0].TenDuong, @ViewBag.NhanVienDatHang.MaStNavigation.DiaChiSts[0].PhuongXa, @ViewBag.NhanVienDatHang.MaStNavigation.DiaChiSts[0].QuanHuyen, @ViewBag.NhanVienDatHang.MaStNavigation.DiaChiSts[0].ThanhPho">
                        </div>
                        <div class="checkout__input">
                            <p>Ghi chú đơn hàng<span></span></p>
                            <input type="text" name="ghichu">
                        </div>
                        <div class="checkout__input">
                            <p>Phương thức thanh toán<span>*</span></p>
                            <select>
                                <option>Thanh toán khi nhận hàng</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h4>Đơn hàng</h4>
                            <div class="checkout__order__products">Mặt hàng <span>Tổng tiền</span></div>
                            <ul>
                                @{
                                    decimal totalPrice = 0.0m;
                                }
                                @foreach(var item in Model)
                                {
                                    totalPrice += item.MaMhNavigation.Dongia * item.SoLuong;
                                    <li>@item.MaMhNavigation.TenMh <span>@string.Format("{0:0,0 VND}", item.MaMhNavigation.Dongia * item.SoLuong)</span></li>
                                }
                            </ul>
                            <div class="checkout__order__subtotal">Phí vận chuyển <span>0 VND</span></div>
                            <div class="checkout__order__total">Tổng thanh toán <span>@string.Format("{0:0,0 VND}", totalPrice)</span></div>
                            
                            <input type="hidden" name="tongtien" value="@totalPrice">

                            <button type="submit" class="site-btn">ĐẶT HÀNG</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- Checkout Section End -->
