@model Website_QLCC_RauSach.Models.NhanVienSt

@{
    ViewData["Title"] = "StaffDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="featured spad">
    <div class="container">
        <h4>Thông tin nhân viên</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Mã nhân viên:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MaNv)
            </dd>
            <dt class="col-sm-2">
                Họ và tên:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TenNv)
            </dd>
            <dt class="col-sm-2">
                Chức vụ:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ChucVu)
            </dd>
            <dt class="col-sm-2">
                Mã tài khoản:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MaTkNavigation.MaTk)
            </dd>
            <dt class="col-sm-2">
                Số điện thoại:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MaTkNavigation.Sdt)
            </dd>
            <dt class="col-sm-2">
                Email cá nhân;
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MaTkNavigation.Email)
            </dd>
            <dt class="col-sm-2">
                Tình trạng:
            </dt>
            <dd class="col-sm-10">
                @if (Model.MaTkNavigation.IsActive == 1)
                {
                    <span>Đang làm việc</span>
                }
                else
                {
                    <span>Đã nghỉ việc</span>
                }
            </dd>
        </dl>

        <div>
            <a asp-controller="Account" asp-action="StaffManagement" class="btn btn-primary">Trở lại trang quản lý</a>
        </div>
    </div>
</section>

